@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    text-align: center;
}
p{
    font: bold;
    font-size: 20px;
}
*{
    padding: 5px;
    margin: 5px;
}
img{
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
a{
    margin: 5px;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: 9ms;
}
a:hover{
    background-color: black;
    color: white;
}
a:active{
    background-color: rgb(197, 255, 236);
    color: rgb(215, 178, 249);
}